
/* td.selected[data-level="0"] {
  background-color: rgb(255, 255, 255) !important;
} */
td.selected[data-level="4"] {
  background-color: rgb(172, 172, 172) !important;
}
td.selected[data-level="3"] {
  background-color: rgb(255, 182, 182) !important;
}
td.selected[data-level="2"] {
  background-color: rgb(246, 255, 168) !important;
}
td.selected[data-level="1"] {
  background-color: rgb(161, 255, 152) !important;
}